certifi==2024.8.30
packaging==24.1
pywatchman==2.0.0

Flask==2.2.3
Flask-CORS==3.0.10

python-dotenv==1.0.0

scikit-learn==1.2.0
numpy==1.23.5
pandas==1.5.3
gensim==4.2.0
textblob==0.17.1
spacy==3.4.4
torch==1.12.0

emoji==2.2.0

pickle5==0.0.11 

re 

tensorflow==2.11.0  
